body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

#input {
    max-width: 400px;
    margin: 20px auto;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 9px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#peoples {
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;


}

.block{
    padding: 1rem;
    margin: 1rem;
    border-radius: 20px;
    width: 250px;
    display: flex;
    border: 4mm ridge red ;
    flex-direction: column;
    align-items: center;
    font-size: 10px;

}